/* Sets the background color aqnd font of the body */
body {
    background-color: #deebef;
    font-family: serif;
}

/* Forces the name and links in the header be on one line */
header {
    display: flex;
}

/* Indents the titles in the sections at the bottom of the page */
h2 {
    margin-left: 5%;
}

p {
    margin-left: 5%;
}

/* Sets the position, background color, and text-color of
footer of page */
footer {
    text-align: center;
    background-color: #b0dedb;
    color: #550d57;
}

/* Sets the text-color of the first name in the header */
.first-name {
    color: #efdede;
}

/* Sets the text-color of the last name in the header */
.last-name {
    display: table;
    color: #f5bd8d;
    vertical-align: middle; 
}

/* Sets font family and size for name in header */
.first-name, .last-name {
    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Sets the dimensions of the header name and uses flex to
put space around the first and last name, sets the background
for the name portion of the header, sets the font size for the 
name in the header */
.header-name {
    display: flex;
    width: 31%;
    height: 1.5em;
    justify-content: space-around;
    background: #1d2158;
    font-size:2.5em;
}

/* Uses flex to move the header navigation links to the right
of the page when screen is big enough and center the links 
verically, set the background color for the links, and forces 
the container of the links to go all the way to the end of the 
header */
.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f5bd8d;
    width: 100%;
}

/* Sets the text-color and spacing of the navigation links in the header */
.head-nav {
    color:#1d2158;
    margin-right: 2%;
}

/* Uses flex to center the head shot and puts a margin
around it */
.main-image {
    display: flex;
    justify-content: center;
    margin: 4%;
}

.sects {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.about-me, .education-experience, .contact-information {
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    border:#1d2158 solid 0.3vw;
    background-color: aliceblue;


}
/* Centers the about me block, sets section color, and puts a border around section */
.about-me {
    width: 90%;
    height: 47%;
}

/* Sets backgruond color and border for education and experience section. It also centers section */
.education-experience {
    width: 150%;
    height: 100%;
}

/* Sets the border, background color, and top margin for the
contact info section */
.contact-information {
    background-color: #a3a6cb;
    width: 37%;
    height: 35%;
    margin-top: 5%;
    margin-right: 10%;
}

.contact-container {
    display: flex;
    justify-content: flex-end;
    margin-right:;
}


@media screen and (max-width: 75em) {
    main,
    .header-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .head-nav {
        display: flex;
        text-align: center;
    }

    .header-name {
        display: flex;
        flex-wrap: wrap;
        height: 3em;
    }
    .about-me {
        height:55%;
    }

    .education-experience {
        height: 75%
    }

    .contact-information {
        margin-top: 5%;
    }

    .education-experience {
        width: 150%;
    }
  }

  @media screen and (max-width: 46em) {
    main,
    .header-nav {
      justify-content: space-around;
    }
  }



