/* Sets the background color aqnd font of the body */
body {
    background-color: #deebef;
    font-family: serif;
    font-size: 14px;
    width: 100%
}

/* Forces the name and links in the header be on one line */
header {
    display: flex;
}

/* Indents the titles in the sections at the bottom of the page */
p, h2, h4, li {
    margin: 5%;
}

/* Sets the position, background color, and text-color of
footer of page */
footer {
    text-align: center;
    background-color: #b0dedb;
    color: #550d57;
}

/* Indents the websites */
.website-1, .other-websites {
    margin-left: 5%
}

/* Sets the text-color of the first name in the header */
.first-name {
    color: #efdede;
}

/* Sets the text-color of the last name in the header */
.last-name {
    color: #f5bd8d;
}

/* Sets font family and size for name in header */
.first-name, .last-name {
    display: inline;
    font-family: cursive;
}

/* Sets the dimensions of the header name and uses flex to
put space around the first and last name, sets the background color and size
for the name portion of the header, sets the font size for the 
name in the header */
.header-name {
    display: flex;
    width: 31%;
    height: 1.5em;
    justify-content: space-around;
    background: #1d2158;
    font-size:2.5em;
}

/* Uses flex to move the header navigation links to the right
of the page when screen is big enough and center the links 
verically, set the background color for the links, and forces 
the container of the links to go all the way to the end of the 
header */
.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f5bd8d;
    width: 100%;
}

/* Sets the text-color and spacing of the navigation links in the header */
.head-nav {
    color:#1d2158;
    margin-right: 2%;
}

/* Uses flex to center the head shot and puts a margin
around it */
.main-image {
    display: flex;
    justify-content: center;
    margin: 4%;
}

/* Sets the width for the main sections at the bottom */
.sects {
    width: 100%;
}

/* Sets the border decoration and margin of the sections at the bottom */
.about-me, .education-experience, .contact-information {
    border:#1d2158 solid 0.3vw;
    background-color: aliceblue;
    width: 100%;
    margin: 5%;
}

/* Sets backgruond color and border for education and experience section. It also centers section */
.education-experience {
    height: 100%;
}

/* Sets the border, background color, and top margin for the
contact info section */
.contact-information {
    background-color: #a3a6cb;
    height: 35%;

}

/* Forces the website pictures to wrap if overflow happens and puts 
space between images and gives images right margin */
.other-websites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10%;
}

/* Conditions under screen size of 75em */
@media screen and (max-width: 75em) {
    /* Navigation links in header goes to rows with space around it */
    .header-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    /* Centers the navigation links vertically in the header */
    .head-nav {
        display: flex;
        text-align: center;
    }

    /* Header name goes to two rows */
    .header-name {
        display: flex;
        flex-wrap: wrap;
        height: 3em;
    }
  }



